html {
  height: 100%;
  overflow: hidden;
  margin-top: 0 !important;
}

body {
  height: 100%;
  text-align: center;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.placeholder {
  color: #aaa;
}

html {
  height: 100%;
  background: #ffffff url(./background.jpg) no-repeat center bottom fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#cspio-page {
  background-color: rgba(0, 0, 0, 0);
  padding-top: 60px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 100%;
}

.confirm {
  background-color: #79c879;
  padding: 10px;
  text-align: center;
  color: #fff;
  margin-bottom: 10px;
  display: none;
}

body {
  align-items: center;
  justify-content: center;
}

.cspio body {
  background: transparent;
}

.cspio body,
.cspio body p {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: ;
  font-size: 20px;
  line-height: 1.5em;
  color: #ffffff;
}

::-webkit-input-placeholder {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: ;
}

::-moz-placeholder {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: ;
}

:-ms-input-placeholder {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: ;
}

:-moz-placeholder {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: ;
}

/* Margins */
#cspio-description,
#cspio-logo,
#cspio-socialprofiles,
#cspio-privacy-policy-txt,
#cspio-headline,
#cspio-progressbar,
#cspio-countdown,
#cspio-thankyoumsg,
#cspio-sharebuttons,
#cspio-afterform {
  margin-bottom: 30px;
}

.input-group {
  margin: 0 30px;
}

/* Content Elements */
#cspio-content {
  width: 100%;
  padding: 30px;
  margin: 0 auto;
}

#cspio-content ul {
  list-style-position: inside;
  padding-left: 0px;
}

#cspio-headline {
  margin-top: 0;
}

#cspio-name,
#cspio-email,
#cspio-subscribe-btn {
  margin-bottom: 10px;
}

#cspio-field-wrapper {
  margin-left: auto;
  margin-right: auto;
}

.form-el {
  border-color: transparent !important;
}

.noglow {
  outline: none !important;
}

.seperate #cspio-subscribe-btn {
  margin-left: 10px;
}

.cspio .seperate .input-group .form-control:first-child,
.cspio .seperate .input-group-addon:first-child,
.cspio .seperate .input-group-btn:first-child > .btn,
.cspio .seperate .input-group-btn:first-child > .dropdown-toggle,
.cspio
  .seperate
  .input-group-btn:last-child
  > .btn:not(:last-child):not(.dropdown-toggle) {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.cspio .seperate .input-group .form-control:last-child,
.cspio .seperate .input-group-addon:last-child,
.cspio .seperate .input-group-btn:last-child > .btn,
.cspio .seperate .input-group-btn:last-child > .dropdown-toggle,
.cspio .seperate .input-group-btn:first-child > .btn:not(:first-child) {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.input-group-btn .btn {
  padding-bottom: 11px;
}

#cspio-privacy-policy-txt {
  display: inline-block;
  font-size: 11px;
}

#cspio-ref-out {
  color: #555;
}

/* Share Buttons */
#cspio-sharebuttons {
  padding: 0;
  line-height: 0 !important;
}

#cspio-sharebuttons span {
  line-height: 0 !important;
}

#cspio-sharebuttons li {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  padding: 0 5px;
}

#share_facebook {
  width: 65px;
}

#share_facebook_send {
  margin-left: 7px;
  margin-right: 4px;
}

#share_googleplus {
  width: 45px;
}

#share_pinterest {
  width: 50px;
}

.fb-share-button span {
  vertical-align: top;
}

/* Social Profiles */
#cspio-socialprofiles a {
  padding-right: 7px;
  display: inline-block;
}

.cspio h1,
.cspio h2,
.cspio h3,
.cspio h4,
.cspio h5,
.cspio h6 {
  font-family: "Pacifico";
  color: #ffffff;
}

#cspio-headline {
  font-family: "Pacifico";
  font-weight: 400;
  font-style: ;
  font-size: 48px;
  color: #ffffff;
  line-height: 1em;
}

.cspio button {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: ;
}

.cspio a,
.cspio a:visited,
.cspio a:hover,
.cspio a:active {
  color: #ffffff;
}

#cspio-socialprofiles {
  color: #ffffff;
  display: none;
}
.cspio .btn-primary,
.cspio .btn-primary:focus,
.gform_button,
#mc-embedded-subscribe,
.submit-button {
  color: black;
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.3);
  background-color: #ffffff;
  background-image: -moz-linear-gradient(top, #ffffff, #d9d9d9);
  background-image: -ms-linear-gradient(top, #ffffff, #d9d9d9);
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#ffffff),
    to(#d9d9d9)
  );
  background-image: -webkit-linear-gradient(top, #ffffff, #d9d9d9);
  background-image: -o-linear-gradient(top, #ffffff, #d9d9d9);
  background-image: linear-gradient(top, #ffffff, #d9d9d9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d9d9d9', GradientType=0);
  border-color: #d9d9d9 #d9d9d9 #b3b3b3;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #d9d9d9;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.cspio .btn-primary:hover,
.cspio .btn-primary:active,
.cspio .btn-primary.active,
.cspio .btn-primary.disabled,
.cspio .btn-primary[disabled],
.cspio .btn-primary:focus:hover,
.cspio .btn-primary:focus:active,
.cspio .btn-primary:focus.active,
.cspio .btn-primary:focus.disabled,
.cspio .btn-primary:focus[disabled],
#mc-embedded-subscribe:hover,
#mc-embedded-subscribe:active,
#mc-embedded-subscribe.active,
#mc-embedded-subscribe.disabled,
#mc-embedded-subscribe[disabled] {
  background-color: #d9d9d9;
  *background-color: #cccccc;
}

.cspio .btn-primary:active,
.cspio .btn-primary.active,
.cspio .btn-primary:focus:active,
.cspio .btn-primary:focus.active,
.gform_button:active,
.gform_button.active,
#mc-embedded-subscribe:active,
#mc-embedded-subscribe.active {
  background-color: #bfbfbf;
}

.form-control,
.progress {
  background-color: rgba(255, 255, 255, 0.85);
}

#cspio-progressbar span,
.countdown_section {
  color: black;
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.3);
}

.cspio .btn-primary:hover,
.cspio .btn-primary:active {
  color: black;
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.3);
  border-color: #e6e6e6;
}

.cspio input[type="text"]:focus {
  webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(217, 217, 217, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(217, 217, 217, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(217, 217, 217, 0.6);
}

#cspio-content {
  position: absolute;
  left: 10vw;
  display: none;
  max-width: 600px;
  background-color: #000000;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: transparent;
}

.cspio .progress-bar,
.countdown_section,
.cspio .btn-primary,
.cspio .btn-primary:focus,
.gform_button {
  background-image: none;
  text-shadow: none;
}

.cspio input,
.cspio input:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

/* #cspio-page {
  background: -moz-radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0.2) 37%,
    rgba(0, 0, 0, 0) 68%,
    rgba(0, 0, 0, 0) 100%
  );
  background: -webkit-radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0.2) 37%,
    rgba(0, 0, 0, 0) 68%,
    rgba(0, 0, 0, 0) 100%
  );
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0.2) 37%,
    rgba(0, 0, 0, 0) 68%,
    rgba(0, 0, 0, 0) 100%
  );
} */

.cspio body {
  /* background: -moz-radial-gradient(
    center,
    ellipse cover,
    rgba(0, 0, 0, 0) 7%,
    rgba(0, 0, 0, 0) 80%,
    rgba(0, 0, 0, 0.23) 100%
  ); */
  /* background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(0, 0, 0, 0) 7%,
    rgba(0, 0, 0, 0) 80%,
    rgba(0, 0, 0, 0.23) 100%
  );
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0) 7%,
    rgba(0, 0, 0, 0) 80%,
    rgba(0, 0, 0, 0.23) 100%
  ); */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#3b000000',GradientType=1 );
}

#cspio-subscribe-btn {
  background: transparent;
  border: 1px solid #fff !important;
  color: #fff;
}

#cspio-subscribe-btn:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
}

#cspio-credit img {
  margin-left: auto;
  margin-right: auto;
  width: 125px;
  margin-top: -4px;
}

#cspio-credit {
  font-size: 11px;
}

/* @media (pointer: coarse) {
  body {
    background-color: #79c879;
    display: flex;
    flex-direction: column;
  }
  #cspio-page {
    flex-grow: 1;
  }
  #cspio-content {
    left: 0;
    height: 80vh;
  }
} */

/* Mobile */
@media only screen and (max-device-width: 480px), (pointer: coarse) {
  html {
    background-image: none;
    background-color: #555;
    overflow: scroll;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  #cspio-page {
    padding-top: 10px;
    flex-grow: 1;
  }
  .cspio .input-group-btn,
  .cspio .input-group {
    display: block;
    width: 100%;
  }
  .cspio #cspio-subscribe-btn {
    margin-left: 0;
    width: 100%;
    display: block;
  }

  .cspio .input-group .form-control:first-child,
  .cspio .input-group-addon:first-child,
  .cspio .input-group-btn:first-child > .btn,
  .cspio .input-group-btn:first-child > .dropdown-toggle,
  .cspio
    .input-group-btn:last-child
    > .btn:not(:last-child):not(.dropdown-toggle) {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
  }
  .cspio .input-group .form-control:last-child,
  .cspio .input-group-addon:last-child,
  .cspio .input-group-btn:last-child > .btn,
  .cspio .input-group-btn:last-child > .dropdown-toggle,
  .cspio .input-group-btn:first-child > .btn:not(:first-child) {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
  }
  .countdown_section {
    margin-bottom: 10px !important;
  }

  #cspio-field-wrapper {
    width: 100%;
  }

  #cspio-credit {
    position: static;
    margin-top: 20px;
  }

  .flexbox #cspio-page {
    /* display: flex; */
    padding: 10px;
    /* flex-direction: column; */
  }
  #cspio-content {
    left: 0;
  }

  .input-group {
    margin: 0;
  }
}
